Repository arhat-dev/template-application-python, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, dependency

Keep charts and kube dir
  cicd/deploy/charts/.gitkeep
  cicd/deploy/kube/.gitkeep
Labels: none

chore(deps): update mstruebing/editorconfig-checker docker tag to v2.2.0
  scripts/lint.mk
Labels: none

chore(deps): update actions/labeler action to v3
  .github/workflows/label.yaml
Labels: ci

chore(deps): update dependency https://github.com/pre-commit/pre-commit-hooks to v3
  .pre-commit-config.yaml
Labels: none

Add deps lock pipeline
  .github/workflows/deps.yaml
Labels: ci

Fix deps workflow
  .github/workflows/deps.yaml
Labels: ci

chore(deps): update dependency isort to v5.6.4
  Pipfile
Labels: dependency

chore(deps): update dependency pytest to v6.1.2
  Pipfile
Labels: dependency

chore(deps): update dependency setuptools to v50.3.2
  Pipfile
Labels: dependency

Update package dependencies
  Pipfile
  Pipfile.lock
Labels: dependency

Upgrade dependencies
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  scripts/lint.mk
Labels: dependency

chore(deps): update mstruebing/editorconfig-checker docker tag to v2.3.3
  scripts/lint.mk
Labels: none

chore(deps): update dependency setuptools to v53
  Pipfile
Labels: dependency

deps(lock): Update packages lock
  Pipfile.lock
Labels: dependency

chore(deps): update dependency pytest to v6.2.3
  Pipfile
Labels: dependency

deps(lock): Update packages lock
  Pipfile.lock
Labels: dependency

.github/labeler.yml:

docs:
- docs/**
- README.md

ci:
- .github/**
- cicd/gitlab/**
- .gitlab-ci.yml

dependency:
- Pipfile
- Pipfile.lock
